article.event ul.users li span.state {
    font-family: monospace;
}

article.event ul.users li.waiting span.state {
    color: gray;
}

form.change-status {
    display: inline;
}

form.accept button {
    color: green;
}

form.maybe button {
    color: #FFA806;
}

form.decline button {
    color: red;
}

form.change-status button {
    display: inline;
    margin-left: 1em;
}
