/* HTML5 elements that are not known to older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: #F5F5F5;
    color: black;
}

a, a:active {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: #48468F;
}

a:hover,
a:focus {
    text-decoration: none;
    color: red !important;
}

article {
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

section {
    padding-bottom: 9px;
    clear: both;
}

figure {
    text-align: center;
    margin: 0;
}

header {
    font-size: large;
}

header nav menu {
    list-style-type: none;
}


header nav menu li {
    display: inline;
    background-color: white;
    padding: 2px;
    border: 1px solid gray;
}

header nav menu li.selected a {
    font-weight: bold;
    color: black;
}

header span.breadcrumbs a.last {
    color: black;
}

header h1 {
    font-weight: normal;
}

footer {
    font-size: medium;
    font-family: monospace;
    color: #787878;
    padding-top: 4px;
}

footer address {
    font-style: normal;
}

nav#loginform {
    display: none;
    border: 1px solid black;
    background-color: white;
    border: 1px solid gray;
    font-size: medium;
    float: left;
    left: 4em;
    top: 1px;
    position: absolute;
}

table.list caption {
    display: none;
}

table.list td,
table.list th {
    font-family: monospace;
}

table.list tr.dir th.filename {
    font-weight: bold;
}

table.list tr.parent th.filename {
    font-style: italic;
}

table.list th,
table.list td {
    text-align: left;
    padding-right: 14px;
}

table.list th {
    padding-bottom: 3px;
}

table.list th.size,
table.list td.size {
    text-align: right;
}

table.list td .not-applicable {
    color: #aaa;
}

table.table-sortable th {
    cursor: pointer;
}

table.table-sortable th span.table-th-sort-span {
    font-size: 1px;
}

table.table-sortable th span.table-th-sort-span:after {
    content: '\25C6';
    color: #aaa;
    padding-right: 2px;
    font-size: small;
}

table.table-sortable th.table-th-sort span.table-th-sort-span:after {
    content: '\25B2';
}

table.table-sortable th.table-th-sort-rev span.table-th-sort-span:after {
    content: '\25BC';
}

ul.gallery {
    list-style-type: none;
    list-style-position: outside;
}

ul.gallery li.hmedia {
    display: block;
    float: left;
    width: 210px;
    height: 250px;
    text-align: center;
    margin: 4px;
}

ul.gallery li.hmedia figure span.frame {
    width: 205px;
    height: 205px;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fcfcfc;
}

ul.gallery li.hmedia a:hover span.frame,
ul.gallery li.hmedia a:focus span.frame {
    border: 1px solid red;
}

ul.gallery li.hmedia figcaption {
    font-size: small;
}

img {
    border: 0;
}

p.message {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.message span {
    border: 1px solid black;
    background-color: #F5F5F5;
    padding: 6px;
}

p.confirm span {
    color: green;
}

p.error span {
    color: red;
}

article.info section h3 {
    margin-top: 4px;
    margin-bottom: 2px;
}

article.info section p {
    margin-top: 2px;
    margin-bottom: 4px;
}

article.info section {
    margin-bottom: 7px;
}

article.info ul.users {
    list-style-type: none;
    margin: 5px;
}

nav#toolbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

menu#available-views {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px;
}

article form label {
    text-align: right;
    width: 12em;
    display: block;
    float: left;
    padding-right: 5px;
}

article form input, article form textarea, article form select, article form button {
    display: block;
}

article form button {
    margin-top: 5px;
    margin-left: 13em;
    font-size: larger;
}
