<%inherit file="layout.html"/>
<%namespace name="partials" file="partials.html"/>
<%
event_classes = {
    event.USER_WAITING: 'waiting',
    event.USER_CONFIRMED: 'confirmed',
    event.USER_DECLINED: 'declined',
}
%>

<article class="info event">
<section>
<h2>${event.title | h}</h2>

% if error_message is not None:
    <p class="error message"><span>${error_message | h}</span</p>
% endif
% if confirm_message is not None:
    <p class="confirm message"><span>${confirm_message | h}</span></p>
% endif

<p>${event.summary | h}</p>
</section>

<section>
<h3>Date</h3>
<p><time datetime="${event.date.strftime('%Y-%m-%dT%H:%M') | h}">${event.date.strftime('%Y-%m-%d %H:%M') | h}</time></p>
</section>

<section>
<h3>Place</h3>
<p>${event.place | h}</p>
</section>

<section>
<h3>Attendees</h3>
<ul class="users">
% for event_user in event.iter_users():
    <% state = event.users[event_user.name] %>
    <li class="${event_classes[state] | h}">
        <span class="state">[${event.get_sign(state) | h}]</span> ${partials.display_user(event_user)}
    </li>
% endfor
</ul>
</section>

% if user_state is not None:
<section>
<h3>Confirmation</h3>
    <p>
    Your current status is:
    % if user_state == event.USER_WAITING:
        <strong>waiting</strong>.
    % elif user_state == event.USER_CONFIRMED:
        <strong>confirmed</strong>.
    % elif user_state == event.USER_DECLINED:
        <strong>declined</strong>.
    % endif
    </p>
    <form method="post">
        % if user_state != event.USER_CONFIRMED:
            <input name="action" type="submit" value="Confirm"/>
        % endif
        % if user_state != event.USER_DECLINED:
            <input name="action" type="submit" value="Decline"/>
        % endif
    </form>
% endif
</section>

<section>
<a href="${url.setvar(view='raw').href}">Download as text</a>
</section>
</article>

<%def name="title(html=False)">
% if html:
    Event ${partials.breadcrumbs(path, isdir=False)}
% else:
    Event ${path}
% endif
</%def>

<%def name="header()">
    ${parent.header()}
    ${partials.loginbox()}
</%def>
