<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if lt IE 9]>
    <script src="${root_url.setvar(action='asset', file='html5.js').href}"></script>
    <![endif]-->
    % if available_views:
        ${altrels()}
    % endif
    <title>${self.title()}</title>
    % for stylesheet in stylesheets:
        <link rel="stylesheet" type="text/css" href="${root_url.setvar(action='asset', file=stylesheet).href}" />
    % endfor
</head>
<body>
<h1>${self.title()}</h1>
${self.body()}
<hr>
<address><a href="http://ass2m.org/">ass2m</a> ${ass2m_version | h}</address>
</body>
</html>

<%def name="altrels()">
    <%
    view_links = [(available_view, url.setvar(view=available_view).href) \
                    for available_view in available_views]
    %>
    % for available_view, view_url in view_links:
        % if available_view == view:
            <link rel="canonical" href="${view_url}" />
        % else:
            <link rel="alternate" title="Alternate view ${available_view | h}" href="${view_url}" />
        % endif
    % endfor
</%def>
