<%inherit file="layout.html"/>
<%namespace name="partials" file="partials.html"/>

<article>
<section>
% if description:
    <section id="description">${description | h}</section>
% endif
</section>

<section>
% for photo in photos:
    <a href="${photo.get_name()}"><img src="${photo.get_name()}?view=thumbnail&thumb_size=200" /></a>
% endfor

<table summary="Directory listing" class="list">
<thead>
    <tr><th>Name</th></tr>
</thead>
<tbody>
    % if path != '/':
    <tr class="parent">
        <td class="filename"><a href="../">Parent directory</a></td>
    </tr>
    % endif
    % for dir in dirs:
    <tr class="dir">
        <td class="filename"><a href="${dir.get_name()}/">${dir.get_name() | h}</a>/</td>
    </tr>
    % endfor
</tbody>
</table>
</section>
</article>

<%def name="title()">Gallery of ${path | h}</%def>

<%def name="header()">
    ${parent.header()}
    ${partials.toolbox()}
</%def>
