<%inherit file="layout.html"/>
<%namespace name="partials" file="partials.html"/>

<article>
<section>
% if description:
    <section id="description">${description | h}</section>
% endif
</section>

<section>
% for photo in photos:
<a href="${URL(photo.get_name()) | n,U}"><img src="${URL(photo.get_name()).setvars(view='thumbnail', thumb_size=200) | n,U}" /></a>
% endfor

<table summary="Directory listing" class="list">
<thead>
    <tr>
        <th class="filename">Name</th>
    </tr>
</thead>
<tbody>
    % if path:
    <tr class="parent">
        <td class="filename" data-sortname="/"><a href="../">Parent directory</a></td>
    </tr>
    % endif
    % for dir in dirs:
    <tr class="dir">
        <td class="filename" data-sortname="${'/'+dir.get_name() | h}"><a href="${URL(dir.get_name()+'/') | n,U}">${dir.get_name() | h}</a>/</td>
    </tr>
    % endfor
</tbody>
</table>
</section>
</article>

<%def name="title(html=False)" filter="cpt">
% if html:
    Gallery of ${partials.breadcrumbs(path)}
% else:
    Gallery of ${path}/
% endif
</%def>

<%def name="header()">
    ${parent.header()}
    ${partials.toolbox()}
</%def>
