<%inherit file="layout.html"/>
<%namespace name="partials" file="partials.html"/>

<article>
<table summary="Directory listing" class="list">
<thead>
    <tr><th>Name</th></tr>
</thead>
<tbody>
    % if path != '/':
    <tr class="parent">
        <td class="filename"><a href="../">Parent directory</a></td>
    </tr>
    % endif
    % for dir in dirs:
    <tr class="dir">
        <td class="filename"><a href="${dir}/">${dir | h}/</a></td>
    </tr>
    % endfor
    % for file in files:
    <tr class="file">
        <td class="filename"><a href="${file}">${file | h}</a></td>
    </tr>
    % endfor
</tbody>
</table>
</article>

<%def name="title()">Index of ${path | h}</%def>

<%def name="header()">
    ${parent.header()}
    ${partials.toolbox()}
</%def>
