<%inherit file="layout.html"/>
<%namespace name="partials" file="partials.html"/>

<article>
<section>
% if description:
    <section id="description">${description | h}</section>
% endif
</section>

<section>
% for photo in photos:
    <a href="${photo}"><img src="${photo}?view=thumbnail&thumb_size=200" /></a>
% endfor

<ul class="list">
    % for dir in dirs:
        <li class="dir"><a href="${dir}/">${dir | h}/</a></li>
    % endfor
</ul>
</section>
</article>

<%def name="title()">Gallery of ${path | h}</%def>

<%def name="header()">
    ${parent.header()}
    ${partials.toolbox()}
</%def>
