<%def name="viewslist()">
<%
view_links = [(available_view, url.setvar(view=available_view.name)) \
                for available_view in available_views if available_view.public is True]
%>
    <menu id="available-views">
        % for available_view, view_url in view_links:
            % if available_view.name == view:
            <li class="selected"><a href="${view_url | n,U,h}">${available_view.verbose_name | h}</a></li>
            % else:
            <li><a href="${view_url | n,U,h}">${available_view.verbose_name | h}</a></li>
            % endif
        % endfor
    </menu>
</%def>

<%def name="loginbox()">
    % if user:
        Logged as ${display_user(user)}
        <a id="logout-link" href="${root_url.setvar(action='logout') | n,U,h}">Logout</a>
    % else:
        <a id="login-link" href="${root_url.setvar(action='login') | n,U,h}">Login</a>
    % endif
</%def>

<%def name="loginform()">
<nav id="loginform">
    <form method="post" action="${root_url.setvar(action='login') | n,U,h}">
        <label for="login_username">Username</label>
        <input id="login_username"
            name="login[username]"
            value="" />
        <label for="login_password">Password</label>
        <input id="login_password"
            name="login[password]"
            value=""
            type="password" />
        <button type="submit">Login</button>
    </form>
</nav>
</%def>

<%def name="toolbox()">
    <nav id="toolbox">
        ${loginbox()}
        % if not user:
            ${loginform()}
        % endif
        ${viewslist()}
    </nav>
</%def>

<%def name="display_user(u)"><abbr title="${u.realname | h}">${u.name | h}</abbr></%def>

<%def name="breadcrumbs(path, isdir=True)">
<%
if path == '/':
    paths = ['[root]']
else:
    paths = path.split('/')
    paths[0] = '[root]'
%>
<span class="breadcrumbs">
% for index, pathpart in enumerate(paths, 1):
<%
classes = []
levels = len(paths)-index
if not isdir:
    levels -= 1
parturl = URL('../' * levels)
chr = '/'
%>\
% if index == len(paths):
<%
classes.append('last')
parturl = root_url.addpath(url)
if not isdir:
    chr = ''
%>\
% endif
% if index == len(paths)-1 and not isdir:
<%
parturl = URL('./')
%>\
% endif
% if index == 1:
<%
classes.append('root')
parturl = root_url.addpath('/')
chr = ':/'
%>\
% endif
<a class="${' '.join(classes)}" href="${parturl | n,U,h}">${pathpart | h}</a>${chr}\
% endfor
</span>
</%def>
