<%def name="viewslist()">
<%
view_links = [(available_view.verbose_name, url.setvar(view=available_view.name).href) \
                for available_view in available_views if available_view.public is True]
%>
    <menu>
        % for available_view, view_url in view_links:
            % if available_view == view:
            <li class="selected"><a href="${view_url}">${available_view | h}</a></li>
            % else:
            <li><a href="${view_url}">${available_view | h}</a></li>
            % endif
        % endfor
    </menu>
</%def>

<%def name="loginbox()">
    % if user:
        Logged as ${display_user(user)}
        <a href="${root_url.setvar(action='logout').href}">Logout</a>
    % else:
        <a href="${root_url.setvar(action='login').href}">Login</a>
    % endif
</%def>

<%def name="toolbox()">
    <nav id="toolbox">
        ${loginbox()}
        ${viewslist()}
    </nav>
</%def>

<%def name="display_user(u)"><abbr title="${u.realname | h}">${u.name | h}</abbr></%def>
