<%def name="viewslist()">
<%
view_links = [(available_view, url.setvar(view=available_view.name)) \
                for available_view in available_views if available_view.public is True]
%>
    <menu id="available_views">
        % for available_view, view_url in view_links:
            % if available_view.name == view:
            <li class="selected"><a href="${view_url | n,U,h}">${available_view.verbose_name | h}</a></li>
            % else:
            <li><a href="${view_url | n,U,h}">${available_view.verbose_name | h}</a></li>
            % endif
        % endfor
    </menu>
</%def>

<%def name="loginbox()">
    % if user:
        Logged as ${display_user(user)}
        <a href="${root_url.setvar(action='logout') | n,U,h}">Logout</a>
    % else:
        <a href="${root_url.setvar(action='login') | n,U,h}">Login</a>
    % endif
</%def>

<%def name="toolbox()">
    <nav id="toolbox">
        ${loginbox()}
        ${viewslist()}
    </nav>
</%def>

<%def name="display_user(u)"><abbr title="${u.realname | h}">${u.name | h}</abbr></%def>

<%def name="breadcrumbs(path, isdir=True)">
<%
if path == '/':
    paths = ['[root]']
else:
    paths = path.split('/')
    paths[0] = '[root]'
%>
<span class="breadcrumbs">
% for index, pathpart in enumerate(paths, 1):
<%
classes = []
parturl = URL('../' * (len(paths)-index))
chr = '/'
%>\
% if index == len(paths):
<%
classes.append('last')
parturl = url
if not isdir:
    chr = ''
%>\
% endif
% if index == 1:
<%
classes.append('root')
parturl = root_url
chr = ':/'
%>\
% endif
<a class="${' '.join(classes)}" href="${parturl | n,U,h}">${pathpart | h}</a>${chr}\
% endfor
</span>
</%def>
